<div class="chat" layout="row" ng-cloak>
<!--
  <md-content flex layout-padding>
    <div layout="column" layout-align="top center">
      <div>
        <md-button ng-click="$ctrl.toggleLeft()" class="md-raised md-primary">
          Show Chat
        </md-button>
      </div>
    </div>
  </md-content>-->

  <!--<section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Slack Overflow Chat</h1>
      </md-toolbar>

      <md-content layout-margin>
        
        <md-list>
          <md-list-item class="md-3-line">
            <div class="md-list-item-text profileText">
              <md-button ng-click="$ctrl.toggleLeft()" class="md-accent">
                Hide Chat
              </md-button>
              <h3>users online:</h3>
              <participant-list participants="$ctrl.participants"></participant-list>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>-->
      
      <!--</md-content>
    </md-sidenav>-->

  <!--</section>-->
  
  <div flex="30">
    <div flex="100">
      <participant-list 
        participants="$ctrl.participants()"
        join-lobby="$ctrl.joinLobby"
        change-room="$ctrl.changeRoom">
      </participant-list>
    </div>
  </div>
  <div flex="60" flex-offset="10">
    <message-list 
      messages="$ctrl.messages()"
      room="$ctrl.room()">
    </message-list>
    <message-form on-submit="$ctrl.postMessage"></message-form>
  </div>

</div>